/*
    Styles
    Custom palette.
 */
$colors: (
    "matte": #414141,
    "fresh": #ccdfcb,
    "watermelon": #ff6a5c,
    "teal": #056571
);
@function color($key: "teal") {
    @return map-get($colors, $key);
}

/*
    Customize Bootstrap
*/
$body-bg: color("fresh");
$theme-colors: (
    "primary": color("teal"),
    "danger": color("watermelon")
  );
@import '../node_modules/bootstrap/scss/bootstrap';

/*
    Redefined defaults
*/
// body {
//     background-color: color("fresh");
// }

h1, h2 {
    color: color("teal");
}

a {
    color: color("teal");
    
    &.active {
        color: color("watermelon");
    }
}

/*
    Custom styles
*/
.bg-matte {
    background-color: color("matte");
}
.bg-fresh {
    background-color: color("fresh");
}
.bg-watermelon {
    background-color: color("watermelon");
}
.bg-teal {
    background-color: color("teal");
}

.fg-fresh {
    color: color("fresh");
}
.fg-teal {
    color: color("teal");
}
.fg-watermelon {
    color: color("watermelon");
}

#leftnav a {
    color: color("fresh");

    &.active {
        color: color("watermelon");
    }
}