/*
    Styles
    Custom color palette.
 */
$colors: (
    "matte": #414141,
    "fresh": #ccdfcb,
    "watermelon": #ff6a5c,
    "teal": #056571
);
@function color($key: "teal") {
    @return map-get($colors, $key);
}

/*
    Customize Bootstrap
*/
$body-bg: color("fresh");
$theme-colors: (
    "primary": color("teal"),
    "danger": color("watermelon")
  );
@import '../node_modules/bootstrap/scss/bootstrap';
// https://github.com/bassjobsen/typeahead.js-bootstrap4-css
//@import 'styles/typeaheadjs.scss';

/*
    Redefined defaults
*/
// body {
//     background-color: color("fresh");
// }

h1, h2 {
    color: color("teal");
}

a {
    color: color("teal");
    
    &.active {
        color: color("watermelon");
    }
}

/*
    Custom styles
*/
.bg-matte {
    background-color: color("matte");
}
.bg-fresh {
    background-color: color("fresh");
}
.bg-watermelon {
    background-color: color("watermelon");
}
.bg-teal {
    background-color: color("teal");
}

.text-matte {
    color: color("matte");
}
.text-fresh {
    color: color("fresh") !important;
}
.text-teal {
    color: color("teal");
}
.text-watermelon {
    color: color("watermelon");
}

#leftnav {
    hr {
        border: 1px solid color("fresh")
    }

    a {
    color: color("fresh");

    &:hover {
        color: color("teal")
    }
    
    &.active {
        color: color("watermelon");
    }
}
}

/* Customize chosen */
.chosen-container {
    font-size: 16px;
}
.chosen-container-single {
    height: 2em;

    .chosen-single {
        height: 2em;
        line-height: 1.8em;
    }
}

/* styles for autocomplete */
// https://www.devbridge.com/sourcery/components/jquery-autocomplete/#jquery-autocomplete-styling
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
