/*
    Styles
    Custom color palette.
 */
$colors: (
    "matte": #414141,   // arsenic
    "fresh": #ccdfcb,   // pastel grey
    "watermelon": #ff6a5c,  // pastel red
    "teal": #056571,     // skobeloff

    "linen": #f8f4e3, // eae0cc pearl, fcde9c tuscan, EDC9AF desert sand
    "desert_sand": #EDC9AF,
    //"dark_vanilla": #e0bea6
    "dark_vanilla": #e2c0a7
);
@function color($key: "teal") {
    @return map-get($colors, $key);
}

/*
    Customize Bootstrap
*/
$body-bg: color("fresh");
$card-bg: color("fresh");
$theme-colors: (
    "dark": color("matte"),
    "light": color("fresh"),
    "primary": color("teal"),
    "danger": color("watermelon"),
    "secondary": color("dark_vanilla")
  );
@import '../node_modules/bootstrap/scss/bootstrap';
// now we have custom colors for bg-<color> and text-<color> classes!

/*
    Redefined defaults
*/

h1, h2 {
    color: color("teal");
}

a {
    //color: color("teal");
    
    &.active {
        color: color("watermelon");
    }
}

#leftnav {
    hr {
        border: 1px solid color("fresh")
    }

    a {
    color: color("fresh");

    &:hover {
        color: color("teal")
    }
    
    &.active {
        color: color("watermelon");
    }
}
}

/* Customize chosen */
.chosen-container {
    font-size: 16px;
}
.chosen-container-single {
    height: 2em;

    .chosen-single {
        height: 2em;
        line-height: 1.8em;
    }
}

/* styles for autocomplete */
// https://www.devbridge.com/sourcery/components/jquery-autocomplete/#jquery-autocomplete-styling
.autocomplete-suggestions { border: 1px solid #999; background: color("linen"); overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: color("desert_sand"); }
//.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-suggestions strong { font-weight: normal; color: color("watermelon"); }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
