/***
	TYPEAHEAD for MDB
	by djibe
***/

.typeahead {
  z-index: 1051;
}


/*If using icon span before input, like <i class="fa fa-asterisk prefix"></i>*/

span.twitter-typeahead {
  width: calc(100% - 3rem);
  margin-left: 3rem;
}


/* Aspect of the dropdown of results*/

.typeahead.dropdown-menu,
span.twitter-typeahead .tt-menu {
  min-width: 100%;
background: white;
  /*as large as input*/
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  border-radius: 0;
  font-size: 1.2rem;
}


/*Aspect of results, done*/

span.twitter-typeahead .tt-suggestion {
  color: #4285F4;
  cursor: pointer;
  padding: 1rem;
  text-transform: capitalize;
  font-weight: 400;
}


/*Hover a result, done*/

span.twitter-typeahead .active.tt-suggestion,
span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .active.tt-suggestion:focus,
span.twitter-typeahead .tt-suggestion.tt-cursor:focus,
span.twitter-typeahead .active.tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion.tt-cursor:hover {
  background-color: #EEEEEE;
  color: #4285F4;
}

label.active {
  color: #4285F4 !important;
}
