{# partial for account details #}

<div class="card bg-dark text-light">
    <div class="card-header">
        Info
    </div>
    <div class="card-body">
        <form class="form">
            <div class="form-group">
                <label>Full Name</label>
                <input type="text" class="form-control" readonly value="{{ model.account.fullname }}">
            </div>

            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" readonly value="{{ model.account.description }}">
            </div>
        </form>
    </div>
</div>