{# contains the search form only #} 
{# example on how to set variables: set search_model = model["search"] #}

<div class="card bg-secondary p-2 mb-3">
    <form method="POST" id="searchForm" name="searchForm" class="form-inline">
        <div class="form-group">
            <label for="symbol" class="mr-2">Currency symbol</label>
            <select name="search.currency" class="form-control chosen">
                {% for currency in search.ref.currencies %}
                <option {% if currency.mnemonic==search.currency %}selected{% endif %}>{{ currency.mnemonic }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="text-center ml-3">
            <button formaction="{{ search["action"] }}" class="btn btn-primary">Apply</button>
        </div>
    </form>
</div>