<nav class="bg-dark navbar" id="leftnav" style="font-size: smaller;">
    {#
    <a class="navbar-brand" href="#">Menu</a> #}
    <a class="nav-link" href="/">Home</a>
    {# Account #}
    <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="/account/">Account</a>
        <nav class="nav nav-pills flex-column">
            <a class="nav-link ml-3" href="/account/favourites">Favourites</a>
            <a class="nav-link ml-3" href="/account/search">Search</a>
            <a class="nav-link ml-3" href="/account/cash">Cash Balances</a>
            <a class="nav-link ml-3" href="{{ url_for('account_controller.transactions') }}">Transactions</a>
        </nav>
    </nav>
    <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="/assetallocation/">
            Asset Allocation
            <i class="fa fa-pie-chart"></i>
        </a>
        <nav class="nav nav-pills flex-column">
            <a class="nav-link ml-3" href="/assetallocation/settings">Settings</a>
        </nav>
    </nav>

    {# Currencies #}
    <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="/currency/">Currency</a>
        <nav class="nav nav-pills flex-column">
                <a class="nav-link ml-3" href="/currency/calculator">Calculator</a>
            <a class="nav-link ml-3" href="/currency/rates">Exchange Rates</a>
            <a class="nav-link ml-3" href="{{ url_for('currency_controller.download') }}">Download Rates</a>
        </nav>
    </nav>
    <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="/distributions/">Distributions</a>
    </nav>
    <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="/portfolio/value">Portfolio Value</a>
    </nav>

    <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="/scheduled">Scheduled</a>
    </nav>

    {# Securities #}
    <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="/security/">Securities</a>
        <a class="nav-link ml-3" href="#">Price Download</a>
        <a class="nav-link ml-3" href="/price/import">Price Import</a>
        <a class="nav-link ml-3" href="/vanguard/prices">Vanguard Fund Prices</a>
    </nav>

    <nav class="nav nav-pills flex-column w-100">
        <hr class="w-100">
    </nav>

    <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="/settings/edit">
            <i class="fa fa-cog"></i> Settings</a>
    </nav>
</nav>