<nav class="bg-matte navbar" id="leftnav" style="font-size: smaller;">
    {#
    <a class="navbar-brand" href="#">Menu</a> #}
    <a class="nav-link" href="/">Home</a>
    {# Account #}
    <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="#">Account</a>
        <nav class="nav nav-pills flex-column">
            <a class="nav-link ml-3" href="/account/search">Search</a>
            <a class="nav-link ml-3" href="/account/cash">Cash Balances</a>
            <a class="nav-link ml-3" href="/account/transactions">Transactions</a>
        </nav>
    </nav>
    <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="/assetallocation/">
            Asset Allocation
            <i class="fa fa-pie-chart"></i>
        </a>
            <nav class="nav nav-pills flex-column">
                <a class="nav-link ml-3" href="/assetallocation/settings">Settings</a>
            </nav>
    </nav>
    <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="/currency/">Currency</a>
    </nav>
    <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="/distributions/">Distributions</a>
    </nav>
    <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="/portfolio/value">Portfolio Value</a>
    </nav>

    <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="/price/">Prices</a>
        <nav class="nav nav-pills flex-column">
            <a class="nav-link ml-3" href="/price/rates">Exchange Rates</a>
            <a class="nav-link ml-3" href="/price/import">Import</a>
        </nav>
    </nav>

    {# Securities #}
    <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="/security/">Securities</a>
    </nav>

    <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="#">Transactions</a>
        <nav class="nav nav-pills flex-column">
            <a class="nav-link ml-3" href="/transaction/scheduled">Scheduled</a>
        </nav>
    </nav>

    <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="#">Vanguard</a>
        <a class="nav-link ml-3" href="/vanguard/prices">Fund Prices</a>
    </nav>

    <nav class="nav nav-pills flex-column w-100">
        <hr class="w-100">
    </nav>

    <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="/settings/edit"><i class="fa fa-cog"></i> Settings</a>
    </nav>
</nav>