{# Security details partial view #}

<div class="card bg-fresh text-matte">
    <div class="card-body">
        <form class="form">
            <div class="form-row">
                <div class="form-group col-3">
                    <label>Symbol</label>
                    <input type="text" class="form-control" readonly 
                        value="{{ model.security.namespace}}:{{ model.security.mnemonic }}">
                </div>

                <div class="form-group col-9">
                    <label>Description</label>
                    <input type="text" class="form-control" readonly 
                        value="{{ model.security.fullname }}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>Quantity</label>
                    <input type="text" class="form-control text-right" readonly 
                        value="{{ '{:,.2f}'.format(model.quantity) }}">
                </div>

                <div class="form-group col">
                    <label>Value ({{ model.currency }})</label>
                    <input type="text" class="form-control text-right" readonly 
                        value="{{ '{:,.2f}'.format(model.value) }}">
                </div>

                <div class="form-group col">
                    <label>Price ({{ model.currency }})</label>
                    <input type="text" class="form-control text-right" readonly 
                        value="{{ model.price.value }}">
                </div>
                <div class="form-group col">
                        <label>Price Date</label>
                        <input type="text" class="form-control text-right" readonly 
                        value="{{ '{:%Y-%m-%d}'.format(model.price.date) }}">
                    </div>
                </div>
        </form>
    </div>
</div>

<div class="mt-3">
    <p>Accounts:</p>
    <ul>
        {% for account in model.accounts %}
        <li>
            <a href="/account/details/{{ account.fullname }}">
                {{ account.fullname }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>

<div>
    <a href="/distributions/{{ model.security.namespace }}:{{ model.security.mnemonic }}" class="btn btn-outline-secondary">
        Distributions</a>
</div>

<hr class="w-75">

<div class="mt-2">
    To-do:
    <ul>
        <li>Prices (chart?)</li>
        <li>Link to analysis page (Morningstar, Yahoo Finance)</li>
        <li>Transactions (buy/sell)</li>
    </ul>
</div>