{# Links for securities #}

<hr class="w-75">

<div>
    <a href="/security/details/{{ model.symbol}}" class="btn btn-outline-primary">
        Details</a>
    &bullet;
    <a href="/price/for/{{ model.symbol }}" class="btn btn-outline-primary">
        Prices</a>
    &bullet;
    <a href="/price/download/{{ model.symbol }}" class="btn btn-outline-primary">
        Download Price</a>
    &bullet;
    <a href="/distributions/{{ model.symbol }}" class="btn btn-outline-primary">
        Distributions</a>
    &bullet;
    <a href="/security/yield/{{ model.symbol }}" class="btn btn-outline-primary">
        Yield</a>
</div>