{% extends "layout.html" %} {% block title %}Account Transactions{% endblock %} {% block content %}
<h1>Account Transactions</h1>

<div class="card bg-matte text-light">
    <div class="card-body">

        <form method="POST">
            {# Account #}
            <input type="hidden" name="account_id" value="{{ input_model.account_id }}">
            <div class="form-group">
                <label for="account">Account</label>
                <div class="text-dark">
                    <select name="account" class="form-control chosen">
                        {% for account in reference.accounts %}
                        <option {% if account.guid==input_model.account_id %}selected{% endif %} 
                            value="{{ account.guid }}">
                            {{ account.fullname }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            {# Date Period #}
            <div class="form-group">
                <label for="period">Period</label>
                <input id="period" type="text" name="period" class="form-control daterange"
                    {% if input_model.period %}value="{{ input_model.period }}"
                    {% endif %}>
            </div>

            <div class="text-center">
                <button id="submit" class="btn btn-outline-primary">Apply</button>
            </div>
        </form>
    </div>
</div>

<p>
    Starting balance: {{ "{:,.2f}".format(model.start_balance) }}, Ending balance: {{ "{:,.2f}".format(model.end_balance) }}
</p>

{% if model.splits %}
<table class="table table-sm table-bordered mt-3">
    {#
    <thead class="thead-dark">
        <th>Date</th>
        <th>Account</th>
        <th>Action</th>
        <th>Value</th>
        <th>Quantity</th>
        <th>Memo</th>
    </thead>
    #}
    <tbody>
        {% for split in model.splits %}
        <tr class="table-secondary">
            <td>{{ "{:%Y-%m-%d}".format(split.transaction.post_date) }}</td>
            <td>{{ split.transaction.description }}</td>
            <td colspan="2">{{ split.transaction.notes }}</td>
        </tr>
        {% for sp in split.transaction.splits %}
        <tr>
            <td>&nbsp;</td>
            <td>{{ sp.account.fullname }}</td>
            {#
            <td>{{ sp.action }}</td> #}
            <td>{{ sp.memo }}</td>
            {#
            <td class="text-right">{{ sp.value }}</td> #}
            <td class="text-right">{{ "{:,.2f}".format(sp.quantity) }}</td>
        </tr>
        {% endfor %} {% endfor %}
    </tbody>
</table>
{% endif %} {% endblock %} {% block scripts %}
<script type="text/javascript">
    $(function () {
        // $("#submit").click(function(event) {
        //     // var conceptName = $('#aioConceptName :selected').text();
        //     var accountId = $("#account_id").val();
        //     var accountName = $("#account :selected").text();
        //     var selectedVal = $("#account :selected").val();
        //     var period = $("#period").val();

        //     alert(accountId + period + accountName + selectedVal);
        // });
    });
</script> {% endblock %}