{% extends "layout.html" %} {% block title %}Favourite Accounts Settings{% endblock %} {% block content %}
<h1>Favourite Accounts Settings</h1>

<form method="POST">
    <div class="form-group">
        <label for="settings">Settings for favourite accounts. Array if id strings.</label>
        <textarea id="settings" name="settings" type="text" class="form-control" rows="20">
            {{ model.settings }}
        </textarea>
    </div>

    <button class="btn btn-primary">Save</button>
</form>

{% endblock %} {% block scripts %}
<script>
    $(function () {
        $("table").DataTable({
            lengthMenu: [10, 20, 30, 50, 100, -1],
            pageLength: 20
        });
    });
</script> {% endblock %}