{% extends "layout.html" %} {% block title %}Account Details{% endblock %} {% block content %}
<h1>Account Details</h1>

<div class="card">
    <div class="card-header">
        Account Details
    </div>
    <div class="card-body">
        <form class="form">
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label>Full Name</label>
                    <input type="text" class="form-control" readonly value="{{ model.account.fullname }}">
                </div>
                <div class="form-group col-md-4">
                    <label>Id</label>
                    <input type="text" class="form-control" readonly value="{{ model.account.guid }}">
                </div>
            </div>

            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" readonly value="{{ model.account.description }}">
            </div>

            <div class="form-row">
                <div class="form-group col">
                    <label>Quantity</label>
                    <input type="text" class="form-control text-right" readonly value="{{ '{:,.2f}'.format(model.quantity) }}">
                </div>
                <div class="form-group col">
                    <label>Commodity</label>
                    <input type="text" class="form-control" readonly value="{{ model.account.commodity.mnemonic }}">
                </div>
            </div>
        </form>
    </div>
</div>

{# Links #}
<div class="mt-3">
    <a class="btn btn-outline-primary" 
    href="/account/transactions?accountId={{ model.account.guid }}">Transactions</a>
    
    <a class="btn btn-outline-primary" href="/account/{{ model.account.guid }}/splits">Splits</a>

    {% if model.security_details_url %}
    <a class="btn btn-outline-primary" href="{{ model.security_details_url }}">Security Details</a>
    {% endif %}
</div>

{% endblock %}