{% extends "layout.html" %} {% block title %}Cash Balances{% endblock %} {% block content %}
<h1>Cash Balances</h1>
<p>
    Displays cash balances in the selected accounts. You can enter multiple accounts, comma-separated.
</p>

<form class="form-inline">
    <div class="form-group">
        <label class="mr-2">Enter the root investment account(s)</label>
        <input name="accounts" class="form-control" type="text" placeholder="Type to search" 
            value="{{ model.accounts }}">
    </div>
    <div class="text-center ml-2">
        <button class="btn btn-primary">OK</button>
    </div>
</form>

<table id="accounts" class="table table-bordered table-sm table-striped mt-3">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Full Name</th>
            <th>Currency</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        {% for currency in model["data"] %}
        <tr>
            <td class="font-weight-bold" colspan="3">{{ model["data"][currency]["name"] }}</td>
            <td class="font-weight-bold text-right">{{ "{:,.2f}".format(model["data"][currency]["total"]) }}</td>
        </tr>
        {% for account in model["data"][currency]["rows"] %}
        <tr>
            <td>{{ account.name }}</td>
            <td>{{ account.fullname }}</td>
            <td>{{ account.currency }}</td>
            <td class="text-right">{{ "{:,.2f}".format(account.balance) }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
    {#<tfoot>
        <tr>
            <th>Name</th>
            <th>Full Name</th>
        </tr>
    </tfoot> #}
</table>

{% endblock %} {% block scripts %} {% endblock %}