{% extends "layout.html" %} {% block title %}Account{% endblock %} {% block content %}
<h1>Account</h1>

<p>
    To do:
</p>
<ul>
    <li>
        Account search by name (typeahead).
    </li>
    <li>
        display account details
    </li>
    <li>
        link to transactions register
    </li>
</ul>

<form>
    <div class="form-group">
        <label for="account" class="mr-2">Type in part of account name:</label>
        <input id="account" name="account" type="text" class="form-control">
        {# <button class="btn btn-outline-primary">Search</button> #}
    </div>
</form>

<hr class="w-75">

<div id="accountDetails"></div>

{% endblock %} {% block scripts %}

<script>
    $(function () {
        $("#account").focus();

        $('#account').autocomplete({
            serviceUrl: '/account/api/search',
            minChars: 2,
            onSelect: function (suggestion) {
                //alert('You selected: ' + suggestion.value + ', ' + suggestion.data);
                // show details
                $.ajax({
                    url: '/account/partial/accountdetail/' + suggestion.data,
                    success: function(data, textStatus, jqxhr) {
                        $("#accountDetails").html(data);
                    }
                })
            }
        });
    });
</script> {% endblock %}