{% extends "layout.html" %} {% block title %}Account{% endblock %} {% block content %}
<h1>Account</h1>

<div class="card bg-secondary">
    <div class="card-body">
        <form>
            <div class="form-group">
                <input id="account" name="account" type="text" class="form-control" placeholder="type partial account name to search (min. 2 characters)">
            </div>

            <div class="text-center">
                <button class="btn btn-default">Select</button>
            </div>
        </form>
    </div>
</div>

<div class="mt-1">
    <a href="/account/list">show all</a> &bullet;
    <a class="btn btn-primary" href="/account/favourites">favourites</a>
</div>

<div id="accountDetails" class="mt-3"></div>

<div class="mt-3">

</div>

{% endblock %} {% block scripts %}

<script>
    $(function () {
        $("#account").focus();

        var showDetails = function(account_id) {
            window.location.href = '/account/' + account_id + '/details'
        };

        $('#account').autocomplete({
            serviceUrl: '/account/api/search_autocomplete',
            minChars: 2,
            onSelect: function (suggestion) {
                //alert('You selected: ' + suggestion.value + ', ' + suggestion.data);
                showDetails(suggestion.data);
            },
            // transformResult: function(response) {
            //     console.log(response);
            //     return {
            //         suggestions: $.map(response.suggestions, function(item) {
            //             return { value: item.name, data: item.id };
            //         })
            //     }
            // }
        });

        $("form button").click(function() {

        });
    });
</script> {% endblock %}