{% extends "layout.html" %}

{% block title %}Asset Allocation{% endblock %}

{% block content %}
<h1>Asset Allocation</h1>
<ul>
{%- for asset_class in model["allocation"].classes recursive %}
    <li>{{ asset_class.name }} {{ "{:,.2f}".format(asset_class.allocation) }}, 
        value: {{ "{:,.2f}".format(asset_class.value) }}</li>
    {%- if asset_class.classes is defined %}
        <ul>
        {{ loop(asset_class.classes) }}
        </ul>
    {%- endif %}
    {#
    {%- if asset_class.stocks is defined %}
        <ul>
        {% for stock in asset_class.stocks %}
        <li>
            {{ stock.symbol }},
            {{ stock.quantity }} * {{ stock.price }} = 
            {{ "{:,.2f}".format(stock.value) }}</li>
        {% endfor %}
        </ul>
    {%- endif %}
    #}

{%- endfor %}
</ul>
{% endblock %}