{% extends "layout.html" %} {% block title %}Asset Allocation{% endblock %} {% block content %}
<h1>Asset Allocation</h1>

<div class="float-right">
    <a href="/assetallocation/settings">
        Settings
    </a>
</div>

<div class="mb-1">
    Value: {{ model.currency }} {{ "{:,.2f}".format(model.allocation.curr_value) }},
    <span>threshold {{ model.allocation.threshold }}%</span>
</div>

{# loop indentation https://stackoverflow.com/questions/12145434/how-to-output-loop-counter-in-python-jinja-template #}
<table class="table table-sm">
    <thead>
        <th>Name</th>
        <th>Allocation</th>
        <th>Current</th>
        <th>Diff</th>
        <th>Diff %</th>
        <th>Alloc.Value</th>
        <th>Current</th>
        <th>Diff</th>
    </thead>
    {%- for asset_class in model["allocation"].classes recursive %}
    {# Styling for main asset classes and groups #}
    {% if asset_class.classes %}
        {% set text_col = 'text-muted' %}
    {% endif %}
    {% if loop.depth0 == 0 %}
        {% set row_bg = 'bg-primary' %}
        {% set text_col = 'text-light' %}
    {% endif %}
    <tr class="{{ row_bg }} {{ text_col }}">
        <td>
            <span class="ml-{{ loop.depth0 * 2 }}">
                <a href="/assetallocation/details/{{ asset_class.fullname }}" 
                    class="{{ text_col }}">
                    {{ asset_class.name }}
                </a>
            </span>
        </td>
        <td class="text-right">
            {{ "{:,.2f}".format(asset_class.allocation) }}%
        </td>
        <td class="text-right">
            {{ "{:,.2f}".format(asset_class.curr_alloc) }}%
        </td>
        <td class="text-right">
            {{ "{:,.2f}".format(asset_class.alloc_diff) }}</td>
        <td class="text-right">
            <span class="{% if asset_class.alloc_diff_perc >= model.allocation.threshold %}text-success{% endif %}
                {% if asset_class.alloc_diff_perc <= model.allocation.threshold * (-1) %}text-danger{% endif %}">
                {{ "{:,.2f}".format(asset_class.alloc_diff_perc) }}%,
            </span>
        </td>
        <td class="text-right">
            {{ "{:,.2f}".format(asset_class.alloc_value) }}</td>
        <td class="text-right">
            {{ "{:,.2f}".format(asset_class.curr_value) }}</td>
        <td class="text-right">
            {{ "{:,.2f}".format(asset_class.value_diff) }}</td>
    </tr>
    {%- if asset_class.classes is defined %} {{ loop(asset_class.classes) }} {%- endif %} {# {%- if asset_class.stocks is defined
    %} {% for stock in asset_class.stocks %}
    <tr>
        <td>
            {{ stock.symbol }}, {{ stock.quantity }} * {{ stock.price }} = {{ "{:,.2f}".format(stock.value) }}
        </td>
    </tr>
    {% endfor %} {%- endif %} #} {%- endfor %}
</table>
{% endblock %}