{% extends "layout.html" %} {% block title %}Download Rates{% endblock %} {% block content %}
<h1>Download Rates</h1>

<p>
    TODO:
</p>
<ul>
    <li>list currencies (rates?)</li>
    <li>confirm by clicking Download button</li>
    <li>display rates</li>
    <li>Confirm import by clicking Import button</li>
</ul>

<div id="root"></div>

{% endblock %} {% block scripts %}
<script type="text/jsx">
    ReactDOM.render(
        <h1>Hello, world!</h1>,
        document.getElementById('root')
    );

</script> {% endblock %}