{% extends "layout.html" %} {% block title %}Download Rates{% endblock %} {% block content %}
<h1>Download Rates</h1>

<p>
    TODO:
</p>
<ul>
    <li>list currencies (rates?)</li>
    <li>confirm by clicking Download button</li>
    <li>display rates</li>
    <li>Confirm import by clicking Import button</li>
</ul>

<div id="root"></div>

{% endblock %} {% block scripts %}
<script type="text/jsx" src="{{ url_for('scripts.static', filename='currency.download.jsx') }}"></script>
<script type="text/jsx">
    //var currencies = JSON.parse('{{ model.currencies | tojson | safe }}');
    var currencies = {{ model.currencies | tojson | safe }};
    ReactDOM.render(
        <Main currencies={currencies} />,
        document.getElementById('root')
    );

</script> {% endblock %}