{% extends "layout.html" %} {% block title %}Exchange Rates{% endblock %} {% block content %}
<h1>Exchange Rates</h1>
<h2>Latest available rates</h2>

<table id="table" class="table table-sm table-striped datatable">
    <thead class="thead-dark">
        <th>Date</th>
        <th>Rate</th>
        <th>Inv.Rate</th>
        <th>Currency</th>
        <th>Base</th>
        <th>Chart</th>
    </thead>
    <tbody>
{% for rate in rates %}
<tr>
    <td>{% if rate.date %}{{ "{:%Y-%m-%d}".format(rate.date) }}{% endif %}</td>
    <td class="text-right">{{ rate.value }}</td>
    <td class="text-right">{% if rate.value %}{{ "{:,.4f}".format(1 / rate.value) }}{% endif %}</td>
    <td>{{ rate.currency }}</td>
    <td>{{ rate.base_currency }}</td>
    <td>
        {% if rate.base_currency %}
        <a href="https://www.xe.com/currencycharts/?from={{ rate.currency}}&to={{ rate.base_currency }}&view=1Y" target="_blank">Chart</a>
        {% endif %}
    </td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
{% block scripts %}
<script type="text/javascript">
$(function() {
    // initialize datatables.
    $("#table").DataTable({
        "order": [[ 0, "desc" ]]
    });
});
</script>
{% endblock %}