{% extends "layout.html" %}
{% block title %}Currency{% endblock %}
{% block content %}
<h1>Currency</h1>

{% include "_currency.search.html" %}

{% if currency %}
{% include "currency.results.html" with context %}
{% endif %}

<div>
    <a class="btn btn-outline-primary" href="{{ url_for('currency_controller.download')}}">Download exchange rates</a>
    ●
    <a class="btn btn-outline-primary" href="{{ url_for('currency_controller.rates')}}">Exchange rates</a>
    ●
    <a class="btn btn-outline-primary" href="{{ url_for('currency_controller.calculator')}}">Calculator</a>
</div>
{% endblock %}
{% block scripts %}

{% endblock %}