{% extends "layout.html" %} {% block title %}Distributions in Period{% endblock %} {% block content %}
<h1>Distributions in Period</h1>

{# Parameters #}
<div id="accordion" role="tablist">
    <div class="card bg-secondary text-dark">
        <div id="filterHeader" class="card-header bg-dark" role="tab" data-toggle="collapse" data-target="#filter" aria-expanded="{% if model %}false{% else %}true{% endif%}"
            aria-controls="filter">
            <h5 class="mb-0">
                <a href="#" class="text-light">Search Parameters</a>
            </h5>
        </div>
        <div id="filter" role="tabpanel" class="collapse {% if not model %}show{% endif %}" aria-labelledby="filterHeader" data-parent="#accordion">
            <div class="card-body">
                <form method="POST">

                    {# Account(s) #}
                    <div class="form-row">
                        <div class="col form-group">
                            <label for="accounts">Income account(s) (includes all sub-accounts):</label>
                            <div class="w-100">
                                <input type="text" id="accounts" name="accounts" class="form-control" value="{% if in_model.accounts %}{{ in_model.accounts }}{% else %}Income:Investment{% endif %}">
                            </div>
                        </div>
                    </div>

                    {# Period #}
                    <div class="form-row">
                        <div class="col form-group">
                            <label for="period">Period</label>
                            <input type="text" name="period" id="period" class="form-control daterange" value="{{ in_model.period }}">
                        </div>

                        {# Currency #}
                        <div class="form-group col">
                            <label for="currency">Currency (case sensitive!)</label>
                            <input name="currency" type="text" class="form-control" value="{{ in_model.currency }}">
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="reset" class="btn btn-outline">Reset</button>
                        <button type="submit" formaction="/distributions/" class="btn btn-primary">OK</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% if model %}
<table class="table table-striped table-sm mt-3">
    <thead class="thead-dark">
        <th>Date</th>
        <th>Account</th>
        <th>Transaction</th>
        <th>Currency</th>
        <th>Value</th>
    </thead>
    <tbody>
        {% for split in model.splits %}
        <tr>
            <td>{{ "{:%Y-%m-%d}".format(split.transaction.post_date) }}</td>
            <td>{{ split.account.fullname }}</td>
            <td>
                <a href="/transaction/details/{{ split.transaction.guid }}">details</a>
            </td>
            <td>
                {{ split.account.commodity.mnemonic }}
            </td>
            <td class="text-right">
                {{ "{:,.2f}".format(split.value * (-1)) }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %} {% endblock %} {% block scripts %}
<script type="text/javascript" src="/scripts/income_in_period.js"></script> {% endblock %}