{% extends "layout.html" %} {% block title %}Home{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content
%}
<h1>GnuCash Portfolio</h1>

{# Github Badge #}
<a href="https://github.com/MisterY/gnucash-portfolio">
  <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67"
    alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png">
</a>

<p>
  GnuCash Portfolio web app provides portfolio management and analysis tools for GnuCash book stored in SQLite format. Please
  keep in mind that modifying the data requires the GnuCash application being closed to ensure the changes are not overwritten.
</p>

<div class="row">
  <div class="col-md-4">
    {# favourite accounts #}
    <div class="card">
      <div class="card-header">
        Favourite Accounts
        <span class="float-right">
          <a href="/settings/edit">
            <i class="fa fa-cog"></i>
          </a>
        </span>
      </div>
      <div class="card-body" id="favouriteAccounts">
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
  <div class="col-md-4" style="height: 5em;">
    <div class="card">
      <div class="card-header">
        Upcoming scheduled transactions
      </div>
      <div class="card-body">
          <div id="tinyCalendar"></div>
          <div id="recurringContainer" class="mt-2">
          {# include '_index.recurring.html' #}
        </div>
      </div>
    </div>
  </div>
</div>

<p>Below are some things that remain to be implemented:</p>
<ul>
  <li>
    Reports
    <ul>
      <li>Currency exchange rates, with chart</li>
      <li>portfolio statistics, with charts</li>
      <li>
        Security Analysis
        <ul>
          <li>Transactions (buy/sell)</li>
          <li>ROI</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

{% endblock %} {% block scripts %}
<script>
  $(function () {
    // Recurring transactions.
    $.ajax({
      url: '/scheduled/partial/top10',
      success: function (data) {
        $("#recurringContainer").html(data);
      }
    });

    // Favourite accounts
    $.ajax({
      url: '/account/partial/favourites',
      success: function (data) {
        $("#favouriteAccounts").html(data);
      }
    });
  });
</script>
<script src="/static/dashboard.js"></script> {% endblock %}