{% extends "layout.html" %} {% block title %}Home{% endblock %} {% block head %} {{ super() }}
<style type="text/css">
  .important {
    color: #336699;
  }
</style>
{% endblock %} {% block content %}
<h1>GnuCash Portfolio App</h1>
<h2>Dashboard</h2>

<ul>
  <li>
    Reports
    <ul>
      <li>
        <a href="/assetallocation">Asset Allocation</a>
      </li>
      <li>
        See currency exchange rates
      </li>
      <li>portfolio statistics with charts</li>
      <li>
        Distributions per security
      </li>
      <li>
        <a href="/income/inperiod">Distributions in time period</a>
      </li>
      <li>
        <a href="/portfoliovalue">Portfolio Value report</a>
      </li>
      <li>
        Security Analysis
      </li>
      <li>
        <a href="/vanguard/prices">Vanguard Australia fund prices</a>
      </li>
    </ul>
  </li>
  <li>
    Actions
    <ul>
      <li>
        Account Search
      </li>
      <li>
        Import currency exchange rates
      </li>
      <li>
        Import security prices
      </li>
      <li>
        Settings
      </li>
    </ul>
  </li>
</ul>

{% endblock %}