<div class="bg-matte" id="leftnav">
    <nav class="m-2 navbar-primary">
        <ul class="navbar-nav">
            <li>
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/assetallocation/">
                    <span class="fa fa-chart-pie"></span>
                    Asset Allocation</a>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" href="/assetallocation/full">Full</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/portfolio/value">Portfolio Value Report</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/stock/">Stocks</a>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" href="/stock/analysis">Security Analysis</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/vanguard/">Vanguard</a>
                <ul>
                    <li>
                        <a class="nav-link" href="/vanguard/prices">Fund Prices</a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>
</div>