{% extends "layout.html" %} {% block title %}Portfolio Value{% endblock %} {% block content %}
<h1>Portfolio Value</h1>

<div class="card bg-secondary">
    <div class="card-header"></div>
    <div class="card-body">
        <form method="POST" class="form-inline">
            <div class="form-row">
                <div class="form-group">
                    <label for="filter.as_of_date">As of date:</label>
                    <input type="date" id="as_of_date" name="filter.as_of_date" class="form-control ml-2" value="{{ '{:%Y-%m-%d}'.format(model.filter.as_of_date) }}">
                </div>
            </div>
            {# Security #}
            <div class="form-group ml-3">
                <label for="security">Stock:</label>
                <input id="security" name="security" type="text" class="form-control ml-2" placeholder="type to search (min. 2 characters)"
                    value="{{ model.filter.stock }}">
            </div>

            <div class="text-center ml-3">
                <button class="btn btn-primary mx-auto">Apply</button>
            </div>

        </form>
    </div>
</div>

<hr>

<table id="results" class="table table-striped table-sm">
    <caption>
        <!-- Portfolio Value -->
    </caption>
    <thead class="thead-dark">
        <th>Symbol</th>
        <th>Exchange</th>
        <th>Shares</th>
        <th>Avg.Price</th>
        <th>Price</th>
        <th>Currency</th>
        <th>Cost Basis</th>
        <th>Gain/Loss</th>
        <th>Gain/Loss %</th>
        <th>Balance</th>
        <th>Income</th>
    </thead>
    <tbody>
        {% for row in model.stock_rows %}
        <tr>
            <td>
                <a href="/security/details/{{ row.symbol }}">{{ row.symbol }}</a>
            </td>
            <td>{{ row.exchange }}</td>
            <td class="text-right">{{ "{:,.2f}".format(row.shares_num) }}</td>
            <td class="text-right">{{ "{:,.2f}".format(row.avg_price) }}</td>
            <!-- <td>base_currency</td> -->
            <td class="text-right">{{ row.price }}</td>
            <td>{{ row.currency }}</td>
            <td class="text-right">{{ "{:,.2f}".format(row.cost) }}</td>

            <td class="text-right {% if row.gain_loss < 0 %}text-danger{% endif %}">{{ "{:,.2f}".format(row.gain_loss) }}</td>

            <!-- gain/loss percentage -->
            {% if row.gain_loss_perc >= 0 %}
            <td class="text-right">{{ "{:,.2f}".format(row.gain_loss_perc) }}</td>
            {% else %}
            <td class="text-right text-danger">{{ "{:,.2f}".format(row.gain_loss_perc) }}</td>
            {% endif %}

            <td class="text-right">{{ "{:,.2f}".format(row.balance) }}</td>
            <td class="text-right">{{ "{:,.2f}".format(row.income) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %} {% block scripts %}
<script type="text/javascript">
    $(function () {
        // initialize datatables.
        $("#results").DataTable({
            lengthMenu: [10, 20, 30, 50, 100, -1]
        });

        $("#security").autocomplete({
            serviceUrl: '/security/api/search'
        });
    });
</script> {% endblock %}