{% extends "layout.html" %} {% block title %}Price Import{% endblock %} {% block content %}
<h1>Price Import</h1>

<h4>Instructions</h4>

<p>
        See /data folder for .csv file example. Rows should look like this:
        <span class="badge badge-secondary">AEF.AX,128.02,"10/11/2017"</span>
        The dates are currently expected in Australian format (dd/MM/yyyy). This should be made configurable.
    </p>

<hr class="w-75">

<div class="card bg-dark text-light">
    <div class="card-body">
<form method="POST" enctype="multipart/form-data">
    {#<label class="custom-file">
        <input type="file" id="import_file" name="import_file" class="custom-file-input">
        <span class="custom-file-control"></span>
    </label>#}

    <div class="form-group">
        <label for="import_file">Select the .csv file for import:</label>
        <input type="file" class="form-control-file" id="import_file" name="import_file">
    </div>

    <div class="form-group">
        <label for="search.currency">Currency</label>
        <select name="search.currency" class="form-control select2">
            {% for currency in ref.currencies %}
            <option {% if currency.mnemonic==search.currency %}selected{% endif %}>{{ currency.mnemonic }}</option>
            {% endfor %}
        </select>
    </div>

    <p>
        <strong>Review</strong> will load and display the prices, while 
        <strong>Import</strong> will import the prices into GnuCash book.
    </p>

    <div class="text-center">
        <button class="btn btn-outline-secondary" type="reset">Reset</button>
        <button class="btn btn-light" formaction="/price/review">
            <i class="fa fa-check-square"></i>
            Review</button>
        <button class="btn btn-outline-light" formaction="/price/load">
            Import
            <i class="fa fa-caret-square-o-right"></i>
        </button>
    </div>
</form>
</div>
</div>

{% if model.message %}
<div class="text-danger">
    <p>
        {{ model.message }}
    </p>
</div>
{% endif %}

{% endblock %}