{% extends "layout.html" %} {% block title %}Price Import{% endblock %} {% block content %}
<h1>Price Import</h1>

<form method="POST" enctype="multipart/form-data">
    <label class="custom-file">
        <input type="file" id="import_file" name="import_file" class="custom-file-input">
        <span class="custom-file-control"></span>
    </label>

    {#<div class="form-group">
        <label for="exampleFormControlFile1">Example file input</label>
        <input type="file" class="form-control-file" id="import2" name="import2">
    </div>#}

    <div class="text-center">
        <button class="btn btn-outline-primary">Import</button>
    </div>
</form>

{% endblock %}