{% extends "layout.html" %} {% block title %}Security Details{% endblock %} {% block content %}
<h1>Security Details</h1>

<div class="card">
    <div class="card-header">
        Security Details
    </div>
    <div class="card-body">
        <form class="form">
            <div class="form-row">
                <div class="form-group col-3">
                    <label>Symbol</label>
                    <input type="text" class="form-control" readonly value="{{ model.security.namespace}}:{{ model.security.mnemonic }}">
                </div>

                <div class="form-group col-9">
                    <label>Description</label>
                    <input type="text" class="form-control" readonly value="{{ model.security.fullname }}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>Quantity</label>
                    <input type="text" class="form-control text-right" readonly value="{{ '{:,.2f}'.format(model.quantity) }}">
                </div>

                <div class="form-group col">
                    <label>Value ({{ model.currency }})</label>
                    <input type="text" class="form-control text-right" readonly value="{{ '{:,.2f}'.format(model.value) }}">
                </div>

                <div class="form-group col">
                    <label>Price ({{ model.currency }})</label>
                    <input type="text" class="form-control text-right" readonly value="{{ model.price.value }}">
                </div>
                <div class="form-group col">
                    <label>Price Date</label>
                    <input type="text" class="form-control text-right" readonly value="{{ '{:%Y-%m-%d}'.format(model.price.date) }}">
                </div>
            </div>
            <div class="form-row">
                <div class="col">

                </div>
                <div class="form-group col">
                    <label>Total Paid</label>
                    <input type="text" class="form-control text-right" readonly value="{{ '{:,.2f}'.format(model.total_paid) }}">
                </div>
                <div class="form-group col">
                    <label>Average Price</label>
                    <input type="text" class="form-control text-right" readonly value="{{ '{:,.2f}'.format(model.average_price) }}">
                </div>
                <div class="col"></div>
            </div>
        </form>
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        <h3>Holding Accounts</h3>
        <ul>
            {% for account in model.accounts %}
            <li>
                <a href="/account/details/{{ account.fullname }}">
                    {{ account.fullname }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col">
        <h3>Distribution Accounts</h3>
        <ul>
            {% for account in model.income_accounts %}
            <li>
                <a href="/account/details/{{ account.fullname }}">
                    {{ account. fullname }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<hr class="w-75 mb-2">

<div>
    <a href="/price/for/{{ model.security.namespace }}:{{ model.security.mnemonic }}" class="btn btn-outline-primary">Prices</a>
    &bullet;
    <a href="/distributions/{{ model.security.namespace }}:{{ model.security.mnemonic }}" 
        class="btn btn-outline-primary">
        Distributions</a>

</div>

<div class="mt-2">
    To-do:
    <ul>
        <li>Prices (chart?)</li>
        <li>Link to analysis page (Morningstar, Yahoo Finance)</li>
        <li>Transactions (buy/sell) - in this commodity, across all holding accounts</li>
        <li>Update price</li>
    </ul>
</div>

{% endblock %}