{% extends "layout.html" %}
{% block title %}Security Analysis{% endblock %}
{% block content %}
<h1>Security Analysis</h1>
<p>
    TODO: input symbol; display prices, balance, link to transactions
</p>
<form method="POST">
    <div>
        Enter or select a commodity symbol:
        {% for symbol in model.securities %}
        <p>{{ symbol }} - {{ model.securities[symbol] }} ({{ symbol }})</p>
        {% endfor %}
    </div>
   <div class="form-group">
       <label></label>
       
   </div>

</form>

{% endblock %}