{% extends "layout.html" %} {% block title %}Securities{% endblock %} {% block content %}
<h1>Securities</h1>

{#
<div class="card bg-secondary text-dark">
    <div class="card-body">
        <form id="searchForm" name="searchForm" ref="form" class="form-inline">
            <div class="form-group">
                <label for="search.symbol" class="mr-2">Select security</label>
                <div class="text-dark">
                    <select id="search_symbol" name="search.symbol" class="form-control chosen">
                        {% for security in model.securities %} {% set name = model.securities[symbol] %}
                        <option {% if security.mnemonic == filter.symbol %}selected{% endif %} 
                            value="{{ security.namespace }}:{{ security.mnemonic }}">
                            {{ security.mnemonic }} - {{ security.fullname }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="text-center ml-2">
                <button type="button" id="select" class="btn btn-primary">Select</button>
            </div>

        </form>
    </div>
</div>
#}

<div id="app" class="mt-3"></div>

{% endblock %} {% block scripts %}
<script type="text/javascript" src="/static/securities.js"></script>
<script type="text/javascript">
    $(function () {
        var getDetailsUrl = function(symbol) {
            // sanitize the symbol
            //var sanitized = $('<div/>').text(symbol).html(); <= this is html-encode
            var sanitized = encodeURIComponent(symbol);
            return '/security/details/' + sanitized;
        };

        var navigate = function(symbol) {
            window.location = getDetailsUrl(symbol);
        };

        var loadPage = function(symbol) {
            var url = getDetailsUrl(symbol);
            $.ajax({
                url: url,
                success: function(data, textStatus, jqXHR) {
                    $("#results").html(data);
                }
            });
        };

        $("#search_symbol").chosen().change(function(event) {
            symbol = $(this).chosen().val();
            navigate(symbol);
            //loadPage(symbol);
        });

        $("#select").click(function () {
            var symbol = $("#search_symbol").chosen().val();
            navigate(symbol);
            // loadPage(symbol);
        });

    });
</script> {% endblock %}