{% extends "layout.html" %} {% block title %}Vanguard Prices{% endblock %} {% block content %}
<h1>Vanguard Australia Fund Prices</h1>
<div>
<span>Example fund list: "8123,8146,8148,8147"</span>
<a class="btn" href="/vanguardprices?funds=8123,8146,8148,8147">Use this</a>
</div>
<form>
    <div class="form-group">
        <label for="funds">Enter funds (comma-separated):</label>
        <input type="text" name="funds" {% if funds %}value="{{ funds }}"{% endif %} />
    </div>
    <button type="submit" class="btn btn-primary">OK</button>
</form>

{% if prices %}
<table class="table table-bordered">
    <thead>
        <th>Id</th>
        <th>Date</th>
        <th>Price</th>
        <th>Name</th>
        <th>Morningstar Id</th>
    </thead>
    <tbody>
        {% for price in prices recursive %}
        <tr>
            <td>{{ price.identifier }}</td>
            <td>{{ price.date }}</td>
            <td>{{ price.value }}</td>
            <td>{{ price.name }}</td>
            <td>{{ price.mstar_id }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %} {% endblock %}